.SideBar {
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  top: 3%;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 19%;
  height: 100%;
  background-color: #245aa1;
  color: #1c4e91;
  z-index: 1;
}

.SideBarIconToggle {
  position: fixed;
  top: 3%;
  left: 20%;
  width: 2.25em;
  height: 2.25em;
  margin-right: 16px;
  cursor: pointer;
  user-select: none;
}

.SideBarIcon {
  width: 2.25em;
  height: 2.25em;
  margin-left: 16px;
  margin-right: 16px;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  color: white;
}

.alignItems {
  display: flex;
  justify-content: space-between;
}

.alignContent {
  display: flex;
}

.alignTextItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.SideBarContent p {
  margin-top: 5px;
  color: white;
  font-size: 17px;
}

.email {
  text-align: center;
  margin-bottom: 30px;
  font-weight: lighter;
}

.sideBarLine {
  border: none;
  height: 1px;
  /* Set the hr color */
  border-top: 1px solid rgba(192, 192, 192, 0.207);
}

.SideBarContent h1 {
  color: white;
  font-size: 2rem; 
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

/* Collapsed Sidebar CSS */
.SideBarCollapsed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 52px;
  z-index: 1;
}

.SideBarCollapsed .SideBarIconToggle {
  left: 2%;
  color: #1c4e91;
}

.SideBarCollapsed .SideBarContent {
  display: none;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }